/* Fonts 
-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

/* Variables
-------------------------------*/
:root{
    --gray: #ccc;
    --f1: #f1f1f1;
    --f9: #f9f9f9;
    --white: #fff;
}

/* Common
-------------------------------*/
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.clr-c{color: var(--gray);}
.m-0{margin: 0;}
.mt-0{margin-top: 0;}
.p-1{padding: 1rem;}
.p-3{padding: 3rem;}
.p-4{padding: 4rem;}
.txt-center{text-align: center;}

/* Profile page 
-------------------------------*/
.profile{
    background: var(--f9);
}
.prof-title{
    font-weight: 400;
    letter-spacing: 0.5px;
    background: var(--f1);
}
.profile .holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}
.profile .single{
    width: 30%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    min-height: 250px;
    box-shadow: 0 0 5px #f1f1f1;
    background: var(--white);
    border-radius: 2px;
    transition: all 0.4s ease;
}
.profile .single:hover{
    box-shadow: 0 5px 5px var(--gray);
    transition: all 0.4s ease;
}
.profile .single > div:nth-child(1){
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
}
.title-name{
    color: var(--gray);
    letter-spacing: 1px;
    font-size: 20px;
}
.profile .more{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.profile .more > div{
    margin-bottom: 10px;
    color: #777;
    border-bottom: 1px dotted var(--f1);
    padding: 3px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.profile .more > div:nth-child(odd){
    width: 35%;
}
.profile .more > div:nth-child(even){
    width: 60%;
    text-align: right;
}
/* Details page 
-------------------------------*/
.u-det-cont{
    display: flex;
    justify-content: center;
}
.u-det{
    width: 50%;
    box-shadow: 0 0 5px var(--gray);
    /* min-height: 250px; */
    border-radius: 3px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #666;
    letter-spacing: 0.5px;
}
.det-more{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 20px;
}
.det-more > div:nth-child(odd){
    width: 35%;
    margin-top: 35px;
    font-weight: 700;
}
.det-more > div:nth-child(even){
    width: 50%;
    margin-top: 35px;
}